<nav class="container">
  <a routerLink="/"><img src="assets/logo.svg" alt="logo"></a>
  <div class="head">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <select formControlName="category">
        <option selected disabled hidden>категория</option>
        <option>бытовая техника</option>
        <option>автомобили</option>
        <option>бытовая техника</option>
        <option>автомобили</option>
      </select>
      <input type="text" name="searchRequest" formControlName="searchRequest" placeholder="введите запрос"/>
      <button class="primary" type="submit"><img src="assets/search.svg"></button>
    </form>
    <button class="primary" routerLink="/advert-create">Подать объявление</button>
    <div class="personal">
      <a routerLink=""><img src="assets/bx-heart.svg.svg"></a>
      <a routerLink="login"><img src="assets/bx-user-circle.svg.svg"></a>
      <a routerLink="login">Личный кабинет</a>
    </div>
  </div>
</nav>
