.container{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 100px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input{
  width: auto;
  height: 44px;
}
.phone, .price{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone p{
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  padding-right: 10px;
  color: #77949A;
}
.phone input{
  width: 298.609px;
}
.price p{
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  padding-left: 10px;
  color: #77949A;
}
.price input{
  width: 220px;
}
