.container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.categoryRow{
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.category{
  padding: 2.5px 6.5px;
  background: #FFFFFF;
  border: 1.5px solid #249BB3;
  box-sizing: border-box;
  border-radius: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #249BB3;
  text-transform: none;
  letter-spacing: 0;
  height: auto;
}
