<div class="container">
  <h1>Регистрация</h1>
  <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()" class="col-3">
    <input formControlName="firstName" type="text" placeholder="имя">
    <input formControlName="lastName" type="text" placeholder="фамилия">
    <input formControlName="secondName" type="text" placeholder="отчество">
    <div class="phone"><p>+7</p><input formControlName="phone" type="text" placeholder="(___)___-__-__"></div>
    <input formControlName="email" type="email" placeholder="email">
    <button class="primary" type="submit">сохранить изменения</button>
  </form>
</div>
